@import "color.scss";
@import "font.scss";
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    width: 1150px;
    padding-bottom: 40px;
    @media (max-width: 992px) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
    .heading {
      text-align: center;
      font-family: $f_KontrapunktMiki_Bold;
      color: #0098d1;
      font-size: 50px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .searchArea {
      display: flex;
      column-gap: 10px;
      border-bottom: 1px solid #0098d1;
      padding-bottom: 10px;
      .searchBox {
        position: relative;
        border: 1px solid rgba(5, 5, 5, 0.08);
        padding-left: 30px;
        padding-right: 30px;
        width: 300px;
        height: 40px;
        @media (max-width: 992px) {
          width: 40%;
        }
        .seachIcon {
          position: absolute;
          top: 50%;
          left: 5px;
          color: #666;
          transform: translateY(-50%);
        }
        .searchInput {
          border: 0;
          height: 100%;
          outline: 0;
          width: 100%;
        }
      }
      .categoryNewsId {
        width: 350px;
        @media (max-width: 992px) {
          width: 60%;
        }
      }
    }
    .newsBox {
      margin-top: 40px;
      border-right: 1px solid rgba(5, 5, 5, 0.08);
      padding: 0 20px 0 0;
      .itemNews {
        display: flex;
        column-gap: 20px;
        border-top: 1px solid rgba(5, 5, 5, 0.08);
        padding: 30px 0px;
        @media (max-width: 576px) {
          display: block;
        }
        .newsImg {
          @media (max-width: 992px) {
            width: 300px;
          }
          @media (max-width: 576px) {
            width: 100%;
            margin-bottom: 20px;
          }
        }
        .itemInfo {
          .titleCategory {
            color: #8b8b8b;
            font-size: 13px;
          }
          .titleNews {
            margin-top: 10px;
            a {
              text-decoration: none;
              color: #666;
              font-size: 20px;
              font-family: $f_KontrapunktMiki_Bold;
            }
          }
          .introNews {
            margin-top: 10px;
            font-size: 16px;
            color: #4f4f4f;
            font-family: $f_KontrapunktMiki_Regular;
            text-align: justify;
            position: relative;
            padding: 0px 35px;
            margin: 25px 0px 0px 0px;
            &::before {
              content: "";
              width: 5px;
              height: 5px;
              position: absolute;
              left: 10px;
              top: 8px;
              border: 1px solid #8b8b8b;
              border-radius: 50%;
            }
          }
        }
      }
    }
    .pagination {
      display: flex;
      column-gap: 10px;
      justify-content: flex-end;
      margin-top: 40px;
      .page {
        border: 1px solid rgba(#000000, 0.07);
        outline: 0;
        padding: 10px 15px;
        background-color: #fff;
      }
    }
  }
}
