@use "color.scss";
@use "font.scss";
.box {
  width: 215px;
  border: 1px solid #00000015;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius:5px;
  .boxImg {
    width: 100%;
    display: flex;
    justify-content: center;
    .img {
      width: 160px;
    }
  }
  .title {
    text-align: center;
    font-family: font.$f_KontrapunktMiki_Bold;
    font-size: 14px;
    margin-top: 8px;
  }
  .priceBox {
    margin-top: 8px;
    text-align: center;
    .totalExchange {
      font-family: font.$f_GeneralSans_Medium;
      font-size:13px
    }
    .lastUSD{
      font-size:10px
    }
    .priceLabel {
      font-size: 12px;
    }
  }
}
