@font-face {
	font-family: "KontrapunktMiki_Bold";
	src: url("./../fonts/KontrapunktMiki/KontrapunktMiki-Bold.eot");
	src: url("./../fonts/KontrapunktMiki/KontrapunktMiki-Bold.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/KontrapunktMiki/KontrapunktMiki-Bold.woff2") format("woff2"),
		url("./../fonts/KontrapunktMiki/KontrapunktMiki-Bold.woff") format("woff"),
		url("./../fonts/KontrapunktMiki/KontrapunktMiki-Bold.ttf") format("truetype"),
		url("./../fonts/KontrapunktMiki/KontrapunktMiki-Bold.svg#KontrapunktMiki-Bold") format("svg");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "KontrapunktMiki_ExtraBold";
	src: url("./../fonts/KontrapunktMiki/KontrapunktMiki-ExtraBold.eot");
	src: url("./../fonts/KontrapunktMiki/KontrapunktMiki-ExtraBold.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/KontrapunktMiki/KontrapunktMiki-ExtraBold.woff2") format("woff2"),
		url("./../fonts/KontrapunktMiki/KontrapunktMiki-ExtraBold.woff") format("woff"),
		url("./../fonts/KontrapunktMiki/KontrapunktMiki-ExtraBold.ttf") format("truetype"),
		url("./../fonts/KontrapunktMiki/KontrapunktMiki-ExtraBold.svg#KontrapunktMiki-ExtraBold") format("svg");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "KontrapunktMiki_Regular";
	src: url("./../fonts/KontrapunktMiki/KontrapunktMiki-Regular.eot");
	src: url("./../fonts/KontrapunktMiki/KontrapunktMiki-Regular.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/KontrapunktMiki/KontrapunktMiki-Regular.woff2") format("woff2"),
		url("./../fonts/KontrapunktMiki/KontrapunktMiki-Regular.woff") format("woff"),
		url("./../fonts/KontrapunktMiki/KontrapunktMiki-Regular.ttf") format("truetype"),
		url("./../fonts/KontrapunktMiki/KontrapunktMiki-Regular.svg#KontrapunktMiki-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "GeneralSans_Bold";
	src: url("./../fonts/GeneralSans/GeneralSans-Bold.eot");
	src: url("./../fonts/GeneralSans/GeneralSans-Bold.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/GeneralSans/GeneralSans-Bold.woff2") format("woff2"),
		url("./../fonts/GeneralSans/GeneralSans-Bold.woff") format("woff"),
		url("./../fonts/GeneralSans/GeneralSans-Bold.ttf") format("truetype"),
		url("./../fonts/GeneralSans/GeneralSans-Bold.svg#GeneralSans-Bold") format("svg");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "GeneralSans_Extralight";
	src: url("./../fonts/GeneralSans/GeneralSans-Extralight.eot");
	src: url("./../fonts/GeneralSans/GeneralSans-Extralight.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/GeneralSans/GeneralSans-Extralight.woff2") format("woff2"),
		url("./../fonts/GeneralSans/GeneralSans-Extralight.woff") format("woff"),
		url("./../fonts/GeneralSans/GeneralSans-Extralight.ttf") format("truetype"),
		url("./../fonts/GeneralSans/GeneralSans-Extralight.svg#GeneralSans-Extralight") format("svg");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GeneralSans_Medium";
	src: url("./../fonts/GeneralSans/GeneralSans-Medium.eot");
	src: url("./../fonts/GeneralSans/GeneralSans-Medium.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/GeneralSans/GeneralSans-Medium.woff2") format("woff2"),
		url("./../fonts/GeneralSans/GeneralSans-Medium.woff") format("woff"),
		url("./../fonts/GeneralSans/GeneralSans-Medium.ttf") format("truetype"),
		url("./../fonts/GeneralSans/GeneralSans-Medium.svg#GeneralSans-Medium") format("svg");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "GeneralSans_Light";
	src: url("./../fonts/GeneralSans/GeneralSans-Light.eot");
	src: url("./../fonts/GeneralSans/GeneralSans-Light.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/GeneralSans/GeneralSans-Light.woff2") format("woff2"),
		url("./../fonts/GeneralSans/GeneralSans-Light.woff") format("woff"),
		url("./../fonts/GeneralSans/GeneralSans-Light.ttf") format("truetype"),
		url("./../fonts/GeneralSans/GeneralSans-Light.svg#GeneralSans-Light") format("svg");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "GeneralSans_Regular";
	src: url("./../fonts/GeneralSans/GeneralSans-Regular.eot");
	src: url("./../fonts/GeneralSans/GeneralSans-Regular.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/GeneralSans/GeneralSans-Regular.woff2") format("woff2"),
		url("./../fonts/GeneralSans/GeneralSans-Regular.woff") format("woff"),
		url("./../fonts/GeneralSans/GeneralSans-Regular.ttf") format("truetype"),
		url("./../fonts/GeneralSans/GeneralSans-Regular.svg#GeneralSans-Regular") format("svg");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "GeneralSans_Semibold";
	src: url("./../fonts/GeneralSans/GeneralSans-Semibold.eot");
	src: url("./../fonts/GeneralSans/GeneralSans-Semibold.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/GeneralSans/GeneralSans-Semibold.woff2") format("woff2"),
		url("./../fonts/GeneralSans/GeneralSans-Semibold.woff") format("woff"),
		url("./../fonts/GeneralSans/GeneralSans-Semibold.ttf") format("truetype"),
		url("./../fonts/GeneralSans/GeneralSans-Semibold.svg#GeneralSans-Semibold") format("svg");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

$f_KontrapunktMiki_Bold: "KontrapunktMiki_Bold";
$f_KontrapunktMiki_ExtraBold: "KontrapunktMiki_ExtraBold";
$f_KontrapunktMiki_Regular: "KontrapunktMiki_Regular";
$f_GeneralSans_Bold: "GeneralSans_Bold";
$f_GeneralSans_Extralight: "GeneralSans_Extralight";
$f_GeneralSans_Medium: "GeneralSans_Medium";
$f_GeneralSans_Light: "GeneralSans_Light";
$f_GeneralSans_Regular: "GeneralSans_Regular";
$f_GeneralSans_Semibold: "GeneralSans_Semibold";
